termcolor
git+https://github.com/deepmind/dm_control.git
git+https://github.com/denisyarats/dmc2gym.git
tb-nightly
pyyaml
imageio
imageio-ffmpeg
git+https://github.com/facebookresearch/hydra@0.11_branch